<div class="event-list">
  <h2 class="event-list__title">Listado de eventos</h2>

  <table class="event-list__table">
    <thead class="event-list__head">
      <tr class="event-list__row">
        <th class="event-list__cell event-list__cell--header">Nombre</th>
        <th class="event-list__cell event-list__cell--header">Descripción</th>
        <th class="event-list__cell event-list__cell--header">Dia de inicio</th>
        <th class="event-list__cell event-list__cell--header">
          Dia de Finalización
        </th>
        <th class="event-list__cell event-list__cell--header">Ubicación</th>
        <th class="event-list__cell event-list__cell--header">
          Tipo de Evento
        </th>
        <th class="event-list__cell event-list__cell--header">Organización</th>
        <th class="event-list__cell event-list__cell--header">Estado Evento</th>
        <th class="event-list__cell event-list__cell--header">Acciones</th>
      </tr>
    </thead>
    <tbody class="event-list__body">
      @if(events()) {
      <!--  -->
      @for (event of events(); track $index) {
      <tr class="event-list__row">
        <td class="event-list__cell">{{ event.name }}</td>
        <td class="event-list__cell">{{ event.description }}</td>
        <td class="event-list__cell">
          {{ event.initialDate| date: "dd/MM/yyyy" }}
        </td>
        <td class="event-list__cell">
          {{ event.finalDate| date: "dd/MM/yyyy" }}
        </td>
        <td class="event-list__cell">{{ event.ubication.name }}</td>
        <td class="event-list__cell">{{ event.typeEvent.name }}</td>
        <td class="event-list__cell">{{ event.organization.name }}</td>
        <td class="event-list__cell">{{ event.statusEvent }}</td>
        <td class="event-list__cell event-list__cell--actions">
          <button>Editar</button>
          <button (click)="openDialog(event.id)">Eliminar</button>
        </td>
      </tr>
      }
      <!--  -->
      }
    </tbody>
  </table>

  @if(isModalOpen()){
  <app-delete (close)="closeDialog()" (confirm)="deleteEventConfirm()" />
  }
  <!--  -->
  @if(showSnackBar()){
  <div class="snackbar">Evento Eliminado correctamente</div>
  }

  <div class="event-list__pagination">
    <button (click)="prevPage()" [disabled]="currentPageSignal === 1">
      Anterior
    </button>

    <span>Página {{currentPageSignal}} de {{totalPages()}}</span>

    <button
      (click)="nextPage()"
      [disabled]="currentPageSignal === totalPages()"
    >
      Siguiente
    </button>
  </div>
</div>
