.type-event-form__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #007bff;
  text-align: center;
}

.type-event-form__description {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}
