<div class="user-form-create">
  <div class="user-form-create__card">
    <form class="user-form-create__form" [formGroup]="userForm">
      <div class="user-form-create__group">
        <label for="fullName" class="user-form-create__label"
          >Nombre Completo</label
        >
        <input
          type="text"
          class="user-form-create__input"
          formControlName="fullName"
        />
      </div>
      <div class="user-form-create__group">
        <label for="email" class="user-form-create__label"
          >Correo Electronico</label
        >
        <input
          type="email"
          class="user-form-create__input"
          formControlName="email"
        />
      </div>
      <div class="user-form-create__group">
        <label for="password" class="user-form-create__label">Contraseña</label>
        <input
          type="password"
          class="user-form-create__input"
          formControlName="password"
        />
      </div>
      <div class="user-form-create__group">
        <label for="confirmPassword" class="user-form-create__label"
          >Confirmar Contraseña</label
        >
        <input
          type="password"
          class="user-form-create__input"
          formControlName="confirmPassword"
        />
      </div>
      <div class="user-form-create__group">
        <label for="role" class="user-form-create__label">Rol</label>
        <select
          name="role"
          class="user-form-create__input"
          formControlName="role"
        >
          <option value="ADMIN">Administrador</option>
          <option value="USER">Usuario</option>
          <option value="ORGANIZER">Organizador</option>
        </select>
      </div>
      <button
        type="submit"
        class="user-form-create__button"
        (click)="openDialog()"
      >
        Crear
      </button>
    </form>

    @if(showDialog()){
    <app-create
      [message]="message()"
      (close)="closeDialog()"
      (confirm)="onSubmit()"
    />
    }
    <!--  -->
    @if(showSnackBar()){
    <div class="snackbar">El usuario fue creado correctamente</div>
    }
  </div>
</div>
